*   {
    margin: 0;
    padding: 0;
}
body    {
    background: url(../images/background.png) no-repeat;
    background-size: 100%;
}
.mario  {
    position: absolute;
    top: 10%;
    left: 8%;
    height: 10%;
    animation: side 15s cubic-bezier(0.22, 0.61, 0.36, 1) infinite, bounce 15s infinite, turn 15s infinite;
}
.pipe1  {
    position: absolute;
    height: 100%;
    width: auto;
    overflow: hidden;
    top: 82%;
    left: 5%;
    animation: pipe1 15s infinite;
}
.pipe2  {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 74%;
    left: 25%;
    animation: pipe2 15s infinite;
}
.pipe3  {
    position: absolute;
    top: 66%;
    left: 45%;
    height: 34%;
    overflow: hidden;
}
.pipe4  {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 58%;
    left: 65%;
    animation: pipe4 15s infinite;
}
.pipe5  {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 50%;
    left: 85%;
    animation: pipe5 15s infinite;
}

@keyframes bounce   {
    0%  {top:72%}
    5%  {top:10%}
    10% {top:64%}
    15% {top:10%}
    20% {top:56%}
    25% {top:10%}
    30% {top:48%}
    35% {top:10%}
    40% {top:40%}
    45% {top:10%}
    50% {top:72%}
    55% {top:10%}
    60% {top:64%}
    65% {top:10%}
    70% {top:56%}
    75% {top:10%}
    80% {top:48%}
    85% {top:10%}
    90% {top:40%}
    95% {top:10%}
    100% {top:72%}
}
@keyframes side     {
    0%  {left:8%}
    10% {left:28%}
    20% {left:48%}
    30% {left:68%}
    40% {left:88%}
    50% {left:88%}
    60% {left:68%}
    70% {left:48%}
    80% {left:28%}
    90% {left:8%}
    100% {left:8%}
}
@keyframes pipe5    {
    0%   {top:50%; height:50%}
    10%  {top:50%; height:50%}
    20%  {top:50%; height:50%}
    30%  {top:50%; height:50%}
    40%  {top:50%; height:50%}
    50%  {top:82%; height:18%}
    60%  {top:82%; height:18%}
    70%  {top:82%; height:18%}
    80%  {top:82%; height:18%}
    90%  {top:82%; height:18%}
    100% {top:50%; height:50%}
}
@keyframes pipe4    {
    0% {top:58%; height:42%}
    10% {top:58%; height:42%}
    20% {top:58%; height:42%}
    30% {top:58%; height:42%}
    40% {top:58%; height:42%}
    50% {top:74%; height:26%}
    60% {top:74%; height:26%}
    70% {top:74%; height:26%}
    80% {top:74%; height:26%}
    90% {top:74%; height:26%}
    100% {top:58%; height:42%}
}
@keyframes pipe2    {
    0% {top:74%; height:26%}
    10% {top:74%; height:26%}
    20% {top:74%; height:26%}
    30% {top:74%; height:26%}
    40% {top:74%; height:26%}
    50% {top:58%; height:42%}
    60% {top:58%; height:42%}
    70% {top:58%; height:42%}
    80% {top:58%; height:42%}
    90% {top:58%; height:42%}
    100% {top:74%; height:26%}
}
@keyframes pipe1    {
    0% {top:82%; height:18%}
    10% {top:82%; height:18%}
    20% {top:82%; height:18%}
    30% {top:82%; height:18%}
    40% {top:82%; height:18%}
    50% {top:50%; height:50%}
    60% {top:50%; height:50%}
    70% {top:50%; height:50%}
    80% {top:50%; height:50%}
    90% {top:50%; height:50%}
    100% {top:82%; height:18%}
}
@keyframes turn    {
    10% {transform: rotateY(0deg)}
    49% {transform: rotateY(0deg)}
    50% {transform: rotateY(180deg)}
    99% {transform: rotateY(180deg)}
}